<footer id="page-footer" class="ui vertical inverted very padded segment">
  <section class="ui container">
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui inverted header">About Stockpile</h4>

        <div class="ui inverted link list">
          <a href="https://github.com/dotStart/Stockpile/releases" class="item">Releases</a>
          <a href="https://github.com/dotStart/Stockpile/issues" class="item">Bug Tracker</a>
          <a href="https://gitlab.com/dotStart/Stockpile/pipelines" class="item">CI</a>
          <a href="https://github.com/dotStart/Stockpile" class="item">Source Code</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Communication</h4>

        <div class="ui inverted link list">
          <a href="https://discord.gg/RdFqysd" class="item">Discord</a>
          <a href="https://webchat.esper.net/?join=%23.start" class="item">IRC</a>
          <a href="https://twitter.com/dot_start" class="item">Twitter</a>
        </div>
      </div>
      <div class="eight wide right aligned column">
        <p class="copyright">
          Copyright &copy; 2018 Johannes ".start" Donath<br />
          <a href="https://unsplash.com/photos/JuFcQxgCXwA">Background image</a> by <a href="https://unsplash.com/@samuelzeller">Samuel Zeller</a> (via Unsplash)
        </p>
      </div>
    </div>
  </section>
</footer>
<script type="text/javascript">
  window.addEventListener('load', function() {
    var scroll = new SmoothScroll('a[href*="#"]');
  })
</script>
