<meta charset="UTF-8" />
<title>Stockpile</title>
<meta name="description" value="Smart cache server for the Mojang API" />
<meta name="keywords" value="stockpile,minecraft,mojang,api,cache" />
<meta name="robots" value="index,follow" />

<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/14.2.0/smooth-scroll.polyfills.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" />
<link rel="stylesheet" type="text/css" href="{{ "/assets/styles/stockpile.css" }}" />
